@charset "utf-8";

/*----全体のレイアウト----*/
*{
	font-style: normal;
	margin: 0px;
	padding: 0px;
}

body 
{
	color: #333333;
	background-image: linear-gradient(-90deg, #F86BFF, #FFC66B);
	
	font-family: sans-serif;
	font-size: 75%;
	line-height: 2;
}
hr
{
	/*display: none;*/
}

/*----link styles----*/

/*----中枠のレイアウト----*/
#wrapper
{
	width: 928px;
	background-image: linear-gradient(-90deg, #DAD0E7, #FDB9C7);
	
	margin: 0px auto;
	border-right: 11px solid #ffa500;
	border-left: 11px solid #ffa500;
}

/*----先頭のスタイル----*/
#header
{
	background-color: #ffffff;
	height: 255px;
	border-top: 4px solid #ffa500;
	border-bottom: 4px solid #ffa500;
	position: relative;
}

/*----真ん中の文のスタイル----*/
#main
{
	
	width: 814
	position: center;
}
/*----サイドメニューバーのスタイル----*/
#sidebar
{
	float: left;
	width: 110;
	position: sidebar;
	/*left: 0px;
	top: 200px;*/
	background-color: #87cefa;
	border-bottom: 4px solid #ffa500;
	border-right: 4px solid #ffa500;
}
/*
#sidebar h2
{
	width: 110;
	position: center;
	left: 0px;
	top: 200px;
	background-color: none;
}
*/

#sidebar ul li
{
	list-style: none;
	float: left;
}

#sidebar ul li a
{
	padding: 5px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	line-height: 1.5em;
	height: 1.5em;
	width: 110px;
	/*display: block;*/
	/*text-align: left;*/
	background-color: #6495ed;
	border-top: 3px solid #0000ff;
	border-bottom: 3px double #e0ffff;
	/*border-left: 2px solid #FFFFFF;*/
	border-right: 2px solid #1e90ff;
}

#sidebar ul li a:hover
{
	/*order-color: #f0ffff;*/
	border-top: 3px solid #f0ffff;
	border-bottom: 3px solid #f0ffff;
	border-right: 2px solid #f0ffff;
}

#sidebar ul li
{
	clear: both;
	/*margin-bottom: 10px;*/
}

/*----footer styles----*/
#footer
{
}
